<div class="leader-board">
  <div id="leader-board-users">
    <table id="user-leaderboard" class="leader-board-element" class="table table-striped table-sm">
      <thead>
      <tr>
        <th>#</th>
        <th>User</th>
        <th>Insgesamte Punktzahl</th>
        <th>Commits in Zeitraum</th>
        <th>Durchschnittliche Punktzahl</th>
        <th>Bester Commit</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userElement of formattedUserElements;
                    let u = index;
                    let f = first;
                    let o= odd; let e=even;"
                    [ngClass]="{ odd: o, even: e, first: f }">
          <td>{{u+1}}</td>
          <td>{{userElement.userData.user}}</td>
          <td>{{userElement.totalUserPoints}}</td>
          <td>{{userElement.commitCount}}</td>
          <td>{{userElement.averageUserPoints}}</td>
          <td class="best-commit-per-user">
            <tr>{{userElement.bestCommitName}}</tr>
            <tr>{{userElement.bestCommitDate}}</tr>
            <tr>{{userElement.bestCommitPoints}} Punkte</tr>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

